.App {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}


.profpic{
  height:500px ;
  width: 340px;
  object-fit:cover;

}
/* body{
    background: linear-gradient(to right, #b2fefa, #0ed2f7);
  margin: 100px;
} */
.movies{
  width: 340px;
}
<<<<<<< HEAD
.counter-container{
  display: flex;
  gap: 10px;
}

.specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


=======
.movies{
  display: table-cell;
}
>>>>>>> b9e9532c2e24f2398a288f5d23016e690b6b60ca
