.App1 {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App{
  font-family: 'Roboto', sans-serif;
}

.profpic{
  height:500px ;
  width: 340px;
  object-fit:cover;

}

.movies{
  width: 340px;
}
.counter-container{
  display: flex;
  gap: 10px;
}

.specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Addmovies{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav{
  font-size: 28px;
  display: flex;
  gap: 20px;
}