.App {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}


.profpic{
  height:500px ;
  width: 340px;
  object-fit:cover;

}
/* body{
    background: linear-gradient(to right, #b2fefa, #0ed2f7);
  margin: 100px;
} */
.movies{
  width: 340px;
}
.counter-container{
  display: flex;
  gap: 10px;
}

.specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hideButton{
  
}

